.input-no-synapse-node {
    background-color: grey;
    label: data(label);
    text-valign: center;
    color: white;
    text-outline-width: 2;
    text-outline-color: grey;
  }
  
  .input-node {
    background-color: blue;
    label: data(label);
    text-valign: center;
    color: white;
    text-outline-width: 2;
    text-outline-color: blue;
  }
  
  .hidden-node {
    background-color: orange;
  }
  
  .output-node {
    background-color: purple;
  }
  
  .constant-node {
    background-color: SkyBlue;
  }
  
  .synapse {
    width: mapData(weight, -1, 1, 1, 12);
    line-color: mapData(weight, -1, 1, red, green);
    target-arrow-color: mapData(weight, -1, 1, red, green);
    target-arrow-shape: triangle;
  }
  
  .faded {
    opacity: 0.1;
  }
  